/* Variáveis */
$main-container: #f5f5f5;
$vivo-main: #660099;
$border-container: rgba(0, 0, 0, 0.34);

// Reset básico para remover margens e paddings do body e html
html, body {
  margin: 0;
  padding: 0;
  // Isso é necessário para garantir que não haja scroll horizontal
  overflow-x: hidden;
}

.navbar {
  width: 100vw; // Utilize 100vw para largura de viewport, que vai ignorar o scrollbar
  height: 60px; 
  background-color: $vivo-main;
  // Assegura que a navbar não será empurrada para a direita se o scrollbar estiver presente
  position: fixed;
  left: 0;
  top: 0;
  
  .container-logo {
    width: auto; 
    height: 100%;
    padding: 10px;
  }
  
  .logo {
    width: auto;
    height: 100%; 
    max-height: 50px;
  }
}
